body{
    background-color: #FDF6EC;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 8%;
    border-color: grey;
    border-width: 5px;
}

h1,h2,h3{
    color: #66bfbf;
}

a{
    text-decoration: none;
    target: _blank;
}

